<!--
 * Copyright (C) 2015 The Logicoy PDMP team (http://logicoy.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *-->
<aside class="main-sidebar" th:fragment="sidenavigation">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/PDMPSystemApp/img/fred.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Fred Aabedi</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Administrator</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <ul class="sidebar-menu">
            <li class="header">NAVIGATION MENU</li>
            <li class=" treeview">
                <a href="index.html">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                </a>

            </li>
            <li class="active treeview">
                <a href="fileUpload.html">
                    <i class="fa fa-edit"></i> <span>Upload new file</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="uploadHistory.html">
                    <i class="fa fa-search"></i>
                    <span>Search Files</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

            </li>
            <li class="treeview">
                <a href="vendorsData.html">
                    <i class="fa fa-history"></i>
                    <span>File Upload History</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Administrative Tasks</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="manageUsers.html"><i class="fa fa-circle-o"></i>Manage Users</a></li>
                    <li><a href="managePermission.html"><i class="fa fa-circle-o"></i>Manage Permissions</a></li>
                    <li><a href="FTPMonitoring.html"><i class="fa fa-circle-o"></i>FTP Monitor</a></li>
                    <li><a href="userLogs.html"><i class="fa fa-circle-o"></i>User logs</a></li>
                    <li><a href="customizedReports.html"><i class="fa fa-circle-o"></i>Customize reports</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="pdmpQuery.html">
                    <i class="fa fa-search"></i> <span>PDMP Query Service</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="advancedSearch.html">
                    <i class="fa fa-search-plus"></i> <span>PDMP Advanced Service</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="searchPatientInFile.html">
                    <i class="fa fa-table"></i> <span>Search Patient Inside File</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Reports</span>
                    <span class="label label-primary pull-right">4</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>Report 1 </a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Report 2</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Report 3</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Report 4</a></li>
                </ul>
            </li>
            <li>
                <a href="pages/UI/timeline.html">
                    <i class="fa fa-envelope"></i> <span>Your Messages</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>
            <li>
                <a href="FAQ.html">
                    <i class="fa fa-question-circle"></i> <span>FAQ</span>

                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
