<!--
 * Copyright (C) 2015 The Logicoy PDMP team (http://logicoy.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="CalculatorApp">
    <head>
        <title>Hello Spring Boot!</title>
        <link rel="icon" href="/PDMPSystemApp/img/loginicon.png" type="image/x-icon" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <!-- Bootstrap 3.3.5 -->
        <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- Theme style -->
        <link href="../static/css/AdminLTE.min.css" th:href="@{/css/AdminLTE.min.css}" rel="stylesheet" media="screen" />
        <link href="../static/css/blue.css" th:href="@{/css/blue.css}" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="../static/plugins/jvectormap/jquery-jvectormap-1.2.2.css" th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../static/css/_all-skins.min.css " th:href="@{/css/_all-skins.min.css}" media="screen" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/PDMPSystemApp/js/angular.min.js"></script>
        <script src= "/PDMPSystemApp/angular/modules/CalculatorApp/calculator.js"></script>
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <!-- Header -->
            <div th:replace="fragments/header :: header">
                <!-- ============================================================================ -->
                <!-- This content is only used for static prototyping purposes (natural templates)-->
                <!-- and is therefore entirely optional, as this markup fragment will be included -->
                <!-- from "fragments/header.html" at runtime.                                     -->
                <!-- ============================================================================ -->
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Static header</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Side Navigation -->
            <div th:replace="fragments/sidenavigation :: sidenavigation">
                <!-- ============================================================================ -->
                <!-- This content is only used for static prototyping purposes (natural templates)-->
                <!-- and is therefore entirely optional, as this markup fragment will be included -->
                <!-- from "fragments/sidenavigation.html" at runtime.                                     -->
                <!-- ============================================================================ -->
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Static header</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Calulator Sample
                        <small>Version 1.0</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Calculator Sample</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->


                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h1 class="box-title">Welcome In Calculator Application</h1>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <div class="btn-group">
                                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-wrench"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Another action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div ng-controller="CalculatorController">
                                                <table>
                                                    <tr> <td> Input Number 1 : </td> <td> <p><input type="number" ng-model="a" class="form-control" /></p> </td> </tr>
                                                    <tr> <td> Input Number 2 : </td> <td> <p><input type="number" ng-model="b" class="form-control" /></p> </td> </tr>
                                                    <tr> <td> Select Operation : </td> <td> <p><select ng-model="operator" class="form-control" >
                                                                    <option>+</option>
                                                                    <option>*</option>
                                                                    <option>-</option>
                                                                    <option>/</option>
                                                                </select></p> </td> </tr>
                                                </table>
                                                <button class="btn btn-success" ng-click="result()">Execute</button>
                                                <hr />
                                                <h1 class="box-title"> Result of your calculation : {{aR}}  {{operatorR}}  {{bR}} = {{c}}</h1>

                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- ./box-body -->

                            </div><!-- /.row -->

                        </div><!-- /.col -->
                    </div>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            
            <footer class="main-footer">
                <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
            </footer>
            </div>



        <!-- jQuery 2.1.4 -->
        <script src="/PDMPSystemApp/plugins/jQuery/jQuery-2.1.4.min.js"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="/PDMPSystemApp/bootstrap/js/bootstrap.min.js"></script>

        <script src="/PDMPSystemApp/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/PDMPSystemApp/plugins/datatables/dataTables.bootstrap.min.js"></script>

        <!-- FastClick -->

        <script src="/PDMPSystemApp/plugins/fastclick/fastclick.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/PDMPSystemApp/js/app.min.js"></script>
        <!-- Sparkline -->
        <script src="/PDMPSystemApp/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="/PDMPSystemApp/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/PDMPSystemApp/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- SlimScroll 1.3.0 -->
        <script src="/PDMPSystemApp/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- ChartJS 1.0.1 -->
    </body>
</html>