<!--
 * Copyright (C) 2015 The Logicoy PDMP team (http://logicoy.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>PDMP System | Log in</title>

        <link href="../static/css/core.css"
              th:href="@{/css/core.css}"
              rel="stylesheet" media="screen" />


        <link rel="icon" href="/img/loginicon.png" type="image/x-icon" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <!-- Bootstrap 3.3.5 -->
        <link href="../static/bootstrap/css/bootstrap.min.css"
              th:href="@{/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- Theme style -->

        <link href="../static/css/AdminLTE.min.css"
              th:href="@{/css/AdminLTE.min.css}"
              rel="stylesheet" media="screen" />

        <!-- iCheck -->

        <link href="../static/css/blue.css"
              th:href="@{/css/blue.css}"
              rel="stylesheet" media="screen" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition login-page">

        <div class="login-box">
            <div class="login-logo">
                <a href="index2.html"><font color='LightGray'><b>PDMP</b>&nbsp;System</font></a>
            </div><!-- /.login-logo -->
            <div class="login-box-body">

                <h4 class="login-box-msg">Welcome to PDMP System Web Application!</h4>

                <hr />

                <h4> DEBUG MODE IS <font color="green">ON</font> </h4>
                <hr />
                <h4>Click <a th:href="@{/fileUpload}">here</a> to see file upload screen</h4>
                <hr />
                <h4>Click here <a th:href="@{/calculator}">here</a> to see calculator screen</h4>

                <hr />
                You must be logged in to access any feature of this application. 
            </div>
        </div><!-- /.login-box-body -->




    </body>
</html>