<!--
 * Copyright (C) 2015 The Logicoy PDMP team (http://logicoy.com)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>PDMP System | Log in</title>

        <link href="../static/css/core.css"
              th:href="@{/css/core.css}"
              rel="stylesheet" media="screen" />


        <link rel="icon" href="/img/loginicon.png" type="image/x-icon" />
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
        <!-- Bootstrap 3.3.5 -->
        <link href="../static/bootstrap/css/bootstrap.min.css"
              th:href="@{/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- Theme style -->

        <link href="../static/css/AdminLTE.min.css"
              th:href="@{/css/AdminLTE.min.css}"
              rel="stylesheet" media="screen" />


        <!-- iCheck -->

        <link href="../static/css/blue.css"
              th:href="@{/css/blue.css}"
              rel="stylesheet" media="screen" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition login-page">

        <div class="login-box">
            <div class="login-logo">
                <a href="index2.html"><font color='LightGray'><b>PDMP</b>&nbsp;User</font></a>
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    <p class="login-box-msg"> <font color="green">You have been logged out.</font> <p>Click <a th:href="@{/fileUpload}">here</a> to login again.</p> </p>
                </div>

                <div th:unless = "${param.logout}">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form th:action="@{/login}" method="post">
                        <div class="form-group has-feedback">
                            <input type="text" name="username"  class="form-control" placeholder="Enter you email or username" />

                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" placeholder="Enter Password" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-xs-8">
                                <label>
                                    <input type="checkbox" > Remember Me </input>
                                </label>
                            </div><!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div><!-- /.col -->
                        </div>
                    </form>
                    <hr />



                    <a href="forgotPassword.html">I forgot my user id or password</a><br />
                    <a href="register.html" class="text-center">Register</a>
                </div>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->



    </body>
</html>